.offre
{
    color: #8B0000;
    text-align: center;
}
.offre:hover
{
    color: #b41b1b;
}
.titre
{
    text-align: right 60px;
}
.maison1
{
    width: 1000px;
    height: 150px;
}
.maison2
{
    width: 1000px;
    height: 150px;
}
.maison3
{
    width: 1000px;
    height: 150px;
}